<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link rel="stylesheet" href="statics/index.css" />
</head>

<body>
  <header>
    <dl>
      <dt>站点：</dt><dd>{{siteTitle}}</dd>
      <dt>构建：</dt><dd>{{siteBuildTimestamp}}</dd>
      <dt>版本：</dt><dd>{{cliVersion}}</dd>
    </dl>
  </header>

  {{#each articles}}
  <article>
    <details>
      <summary>
        <h1>{{title}}</h1>
      </summary>
      <div class="meta-info">
        <span>来源：<a href="{{source.siteUrl}}">{{source.title}}</a></span>
        <span>日期：<time>{{isoPublishDate}}</time></span>
        {{#if readingTimeInMin}}
        <span>阅读时间：{{readingTimeInMin}} 分钟</span>
        {{/if}}
        {{#if wordCount}}
        <span>字数：{{wordCount}}</span>
        {{/if}}
      </div>
      <div class="content">{{{description}}}</div>
    </details>
  </article>
  {{/each}}
</body>

</html>
